@model IEnumerable<Model.Livro>

<p>
    @Html.ActionLink("Novo Livro", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estoque)
        </th>
        <th>
            @Html.DisplayName("Editora")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editora.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |   
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Voltar para a pagina inicial" , "Index", "Home")